.services-content{
    background-color: var(--background-body);
    padding: 2rem;
}
.services-content-card{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}
.services-content h1{
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--color-white);
    text-align: center;
}
.services-content p{
    font-size: 1rem;
    color: var(--color-paragraph);
    margin-bottom: 2rem;
    text-align: center;
}